//---------------------------------------------------------------------------
 >>> Head Block :
  ----------------------------------------------------------------------------
// >>> Basic <<<
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=Edge')
meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0')
title VB | Gulp+Pug Project
meta(name='description' content='New Project description')
meta(name='keywords' content='New Project keywords')
meta(name='author' content='Vladyslav Bardin | Vladyslav Tsyvinda')
// >>> Favicon <<<
link(rel='icon' href='#' sizes='32x32')
link(rel='icon' href='#' sizes='64x64')
link(rel='apple-touch-icon' href='#')
// >>> OG Tags <<<
meta(property='og:title' content='project')
meta(property='og:description' content='project description')
meta(property='og:type' content='article')
meta(property='og:image' content='Project screenshot[nope]')
meta(property='og:site_name' content='project.com')
// >>> CSS <<<
link(rel='stylesheet' type='text/css' href='css/style.css')