//---------------------------------------------------------------------------
  >>> Footer Block :
  ---------------------------------------------------------------------------
footer.footer-section
    .container
        h2 footer
    include ../template/parts/pop-ups