//---------------------------------------------------------------------------
  >>> Footer Block :
  ---------------------------------------------------------------------------
footer
    .container
        h2 footer