//---------------------------------------------------------------------------
  >>> Header Block :
  ---------------------------------------------------------------------------
header
    .container
        h2 header