//---------------------------------------------------------------------------
  >>> Header Block :
  ---------------------------------------------------------------------------
header.header-section
    .container
        h2 header