//---------------------------------------------------------------------------
  >>> About Page :
  ---------------------------------------------------------------------------

extends ./template/main
block content
    section.something
        .container
            h2 about pages