//---------------------------------------------------------------------------
  >>> About Page :
  ---------------------------------------------------------------------------

extends ./template/main

block variables
    - var pageTitle = 'aboutPage';
    - var padeDescription = pageTitle + 'description';

block content
    section.something
        .container
            h2 about pages