//---------------------------------------------------------------------------
  >>> Home Page :
  ---------------------------------------------------------------------------
extends template/main

block variables
    - var pageTitle = 'mainPage';
    - var padeDescription = pageTitle + 'description';

block content
    .container
        h1 index page