//---------------------------------------------------------------------------
  >>> Home Page :
  ---------------------------------------------------------------------------
extends template/main

block variables
    - let pageTitle = 'mainPage';
    - let padeDescription = pageTitle + 'description';

block content
    .container
        h1 index page